<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="w-full mx-auto px-2">

        <div class="mb-0">
            <label for="nombre" class="block mb-1">Nombre:</label>
            <input pInputText class="w-full mb-3" style="padding:0.5rem;" id="nombre" formControlName="nombre" required
                placeholder="Nombre" />
            <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched" class="text-danger">
                El nombre es requerido.
            </div>
        </div>

        <div class="mb-0">
            <label for="marca" class="block mb-1">Marca:</label>
            <p-dropdown [style]="{'minWidth':'100%', 'padding': '0.2rem', 'marginBottom': '0.5rem'}" [options]="listaMarcas" placeholder="Marcas" id="marca"
                formControlName="idMarca"></p-dropdown>
        </div>

        <div class="mb-0">
            <label for="estilo" class="block mb-1">Estilo:</label>
            <p-dropdown [style]="{'minWidth':'100%', 'padding': '0.2rem', 'marginBottom': '0.5rem'}" [options]="listaEstilos" placeholder="Estilos" id="estilo"
                formControlName="idEstilo"></p-dropdown>
        </div>

        <div class="mb-0">
            <label for="pais" class="block mb-1">País:</label>
            <p-dropdown [style]="{'minWidth':'100%', 'padding': '0.2rem', 'marginBottom': '0.5rem'}" [options]="listaPaises" placeholder="Paises" id="pais"
                formControlName="idPais" id="estilo" (onChange)="onChangePais($event)"></p-dropdown>
        </div>

        <div class="mb-0">
            <label for="ciudad" class="block mb-1">Ciudad:</label>
            <p-dropdown [style]="{'minWidth':'100%', 'padding': '0.2rem', 'marginBottom': '0.5rem'}" [options]="listaCiudades" placeholder="Ciudades" id="ciudad"
                formControlName="idCiudad"></p-dropdown>
        </div>

        <div class="mb-0">
            <label for="alcohol" class="block mb-1">Alcohol:</label>
            <p-inputNumber [style]="{'minWidth':'100%'}" class="w-full mb-3" mode="decimal" [showButtons]="false" [min]="0" [max]="100" id="alcohol" formControlName="alcohol" 
                placeholder="0.0" inputId="locale-us" locale="en-US" [minFractionDigits]="1" suffix=" %"/>
        </div>

        <div class="mb-0">
            <label for="ibu" class="block mb-1">IBU:</label>
            <p-inputNumber [style]="{'minWidth':'100%'}" class="w-full mb-3" mode="decimal" [showButtons]="false" [min]="0" [max]="100" id="ibu" formControlName="ibu" 
                placeholder="0.0"/>
        </div>

        <div class="mb-0">
            <label for="contenido" class="block mb-1">Contenido:</label>
            <p-inputNumber [style]="{'minWidth':'100%'}" class="w-full mb-3" mode="decimal" [showButtons]="false" [min]="0" [max]="100" id="contenido" formControlName="contenido" 
                placeholder="0.0" suffix=" ml"/>
        </div>

        <div class="mb-0">
            <label for="observaciones" class="block mb-1">Observaciones:</label>
            <textarea id="observaciones" pInputTextarea required rows="3" cols="20" class="p-inputtext p-component p-element p-inputnumber-input w-full mb-3"
                style="padding:0.5rem;" formControlName="observaciones"></textarea>
        </div>

        <div class="mb-0">
            <label for="imagen" class="block mb-1">Imagen:</label>
            <input pInputText class="w-full mb-3" style="padding:0.5rem;" id="imagen" formControlName="imagen"
                (blur)="onImagenUrlChange()" />
        </div>

        <div class="text-center mb-3">
            <div>
                <img [src]="imagenUrl() || defaultImage" alt="Imagen" height="100%" class="w-6 shadow-2 my-5 mx-0"
                    (error)="onImageError()" />
            </div>

        </div>

        <div class="flex justify-content-center my-4 gap-3">
            <button pButton class="p-button p-button-outlined p-button-danger" type="button"
                *ngIf="cerveza() != undefined" icon="pi pi-trash" label="Borrar" (click)="onDelete()"></button>
            <button pButton class="p-button p-button-success" type="submit" [disabled]="formulario.invalid"
                icon="pi pi-check" label="Guardar"></button>
        </div>
    </div>
</form>

<p-confirmDialog></p-confirmDialog>
<p-messages [value]="msgs"></p-messages>
<p-toast key="tst" [baseZIndex]="99999"></p-toast>